.user-header {
    width: 100%;
    height: 50px;
}

.user-header-main {
    width: 100%;
    height: 100%;
    background-color: #0b8ace;
    color: white;
}

.user-header-main-list-content {
    font-size: 14px;
    margin-right: .25rem;
}