<div class="main-container dashboard-panel">
    <h3 class="text-primary text-left">Logo</h3>
    <ul class="dashboard-panel-list px-3 py-2">
        <li class="dashboard-panel-list-item" [routerLinkActive]="['list-active']" routerLink="/dashboard/summary">
            <span><i class="fa-solid fa-house dashboard-panel-list-icon"></i></span>Summary
        </li>
        <li class="dashboard-panel-list-item" [routerLinkActive]="['list-active']" routerLink="/dashboard/trade">
            <span><i class="fa-brands fa-sellsy dashboard-panel-list-icon"></i></span>Trade
        </li>
        <li class="dashboard-panel-list-item">Example 3</li>
        <li class="dashboard-panel-list-item">Example 4</li>
        <li class="dashboard-panel-list-item">Example 5</li>
    </ul>
</div>